---
import { Icon } from "astro-icon";
---

<div id="about" class="md:my-20 md:w-10/12 md:mx-auto mb-10">
  <div class="h-full flex flex-col">
    <div
      class="text-4xl text-center md:text-left md:text-6xl font-bold mb-16 md:mb-24"
    >
      About
    </div>
    <div
      class="flex flex-col md:flex-row items-center justify-between px-2 md:px-0"
    >
      <div class="mb-12 md:mb-0 md:mr-4">
        <div class="dark:rounded dark:bg-gray-300 dark:w-fit dark:p-1">
          <img
            src="/assets/web-development.png"
            alt="Web Development"
            width={50}
          />
        </div>
        <div class="my-4 font-bold text-2xl">Web Developer</div>
        <div class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          voluptatem corporis impedit deleniti incidunt autem velit atque vel
          dignissimos obcaecati, eos asperiores non perspiciatis explicabo
          doloribus, consequatur sit recusandae adipisci?
        </div>
      </div>

      <div class="mb-12 md:mb-0 md:mr-4">
        <div class="dark:rounded dark:bg-gray-300 dark:w-fit dark:p-1">
          <img
            src="/assets/extension.png"
            alt="Extension Developer"
            width={50}
          />
        </div>
        <div class="my-4 font-bold text-2xl">Extension Developer</div>
        <div class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          voluptatem corporis impedit deleniti incidunt autem velit atque vel
          dignissimos obcaecati, eos asperiores non perspiciatis explicabo
          doloribus, consequatur sit recusandae adipisci?
        </div>
      </div>

      <div class="mb-12 md:mb-0 md:mr-4">
        <div class="dark:rounded dark:bg-gray-300 dark:w-fit dark:p-1">
          <img
            src="/assets/study.png"
            alt="Bachelors in Computer Science"
            width={50}
          />
        </div>
        <div class="my-4 font-bold text-2xl">Student</div>
        <div class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          voluptatem corporis impedit deleniti incidunt autem velit atque vel
          dignissimos obcaecati, eos asperiores non perspiciatis explicabo
          doloribus, consequatur sit recusandae adipisci?
        </div>
      </div>
    </div>
  </div>
</div>
