---
import { Icon } from "astro-icon";
import ContactForm from "./ContactForm.jsx";
---

<div class="md:w-10/12 md:mx-auto mb-4">
  <div
    class="h-full flex flex-col lg:flex-row justify-between lg:items-stretch"
  >
    <div class="flex-1">
      <div class="h-full w-fit flex flex-col md:justify-between">
        <div
          class="flex-1 text-center md:text-left text-4xl md:text-6xl mb-10 font-bold"
        >
          Just say hi.
        </div>
        <div
          class="flex-1 text-xl px-2 md:px-0 md:text-3x text-center md:text-left"
        >
          I'm always open to discuss your projects and talk about new things.
        </div>
        <div
          class="flex-1 flex flex-col md:flex-row justify-center md:justify-between items-center"
        >
          <div class="my-4">
            <div
              class="text-center md:text-left text-gray-600 dark:text-gray-400 mb-1"
            >
              Mail me at
            </div>
            <a href="mailto:sriharshamur@gmail.com" target="_blank">
              <div class="text-xl">sriharshamur@gmail.com</div>
            </a>
          </div>

          <div>
            <div class="text-gray-600 mb-1 lg:mr-4 dark:text-gray-400">
              Follow me
            </div>
            <div class="flex items-start">
              <div class="mr-2">
                <a
                  href="https://www.linkedin.com/in/sriharsh-amur/"
                  target="_blank"
                >
                  <Icon name="ri:linkedin-box-fill" size={30} />
                </a>
              </div>
              <div class="mr-2">
                <a
                  href="https://www.linkedin.com/in/sriharsh-amur/"
                  target="_blank"
                >
                </a><a href="https://github.com/sriharshAmur" target="_blank">
                  <Icon name="ri:github-fill" size={30} />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ContactForm client:visible />
  </div>
</div>
