---
import { Icon } from "astro-icon";
---

<div class="md:w-10/12 md:mx-auto mb-10">
  <div
    class="h-full flex flex-col md:flex-row justify-between md:items-stretch"
  >
    <div class="flex-1">
      <div class="h-full w-fit flex flex-col md:justify-between">
        <div
          class="flex-1 text-center md:text-left text-4xl md:text-6xl mb-10 font-bold"
        >
          Just say hi.
        </div>
        <div
          class="flex-1 text-xl px-2 md:px-0 md:text-3x text-center md:text-left"
        >
          I'm always open to discuss your projects and talk about new things.
        </div>
        <div
          class="flex-1 flex flex-col md:flex-row justify-center md:justify-between items-center"
        >
          <div class="my-4">
            <div class="text-center md:text-left text-gray-600 mb-1">
              Mail me at
            </div>
            <a href="mailto:sriharshamur@gmail.com" target="_blank">
              <div class="text-xl">sriharshamur@gmail.com</div>
            </a>
          </div>

          <div>
            <div class="text-gray-600 mb-1">Follow me</div>
            <div class="flex items-start">
              <div class="mr-2">
                <a
                  href="https://www.linkedin.com/in/sriharsh-amur/"
                  target="_blank"
                >
                  <Icon name="ri:linkedin-box-fill" size={30} />
                </a>
              </div>
              <div class="mr-2">
                <a
                  href="https://www.linkedin.com/in/sriharsh-amur/"
                  target="_blank"
                >
                </a><a href="https://github.com/sriharshAmur" target="_blank">
                  <Icon name="ri:github-fill" size={30} />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-1 h-[400px] py-6 px-10 bg-[#212121]">
      <!-- make a form with an name input, email input and message input and a submit button -->
      <form class="flex flex-col h-full justify-between">
        <input
          class="bg-[#212121] text-white p-2 pl-0 border-b-2 border-white outline-0 my-4"
          placeholder="Your Name"
          class="w-full"
        />
        <input
          class="bg-[#212121] text-white p-2 pl-0 border-b-2 border-white outline-0 my-4"
          placeholder="Your Email Address"
          class="w-full"
        />
        <textarea
          class="bg-[#212121] text-white p-2 pl-0 border-b-2 border-white outline-0 my-4"
          placeholder="Your Message"
          class="w-full"></textarea>
        <submit
          type="submit"
          class="border-2 border-white text-white w-fit ml-auto px-4 py-2 cursor-pointer hover:text-black hover:bg-white"
          >Send</submit
        >
      </form>
    </div>
  </div>
</div>
