---
import { Icon } from "astro-icon";
---

<div class="md:my-20 md:w-10/12 md:mx-auto mb-10">
  <div class="h-full flex flex-col">
    <div
      class="text-4xl text-center md:text-left md:text-6xl font-bold mb-16 md:mb-24"
    >
      Experience
    </div>
    <div class="px-2 md:px-0">
      <div class="mb-8">
        <div class="mb-4 flex text-xl items-start justify-between">
          <div>
            <div class="text-2xl">Developer</div>
            <div class="font-light">
              AppsForTableau | Infotopics, Hardenberg
            </div>
          </div>
          <div class="font-light">Sept 2021 - Present</div>
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          maiores quibusdam architecto praesentium nemo exercitationem delectus
          error aperiam consequuntur odit quasi quis provident veniam excepturi
          ipsum, quia odio distinctio quo.
        </div>
      </div>
      <div class="border-b-2"></div>

      <div class="mb-8 mt-8">
        <div class="mb-4 flex text-xl items-start justify-between">
          <div>
            <div class="text-2xl">Web Developer</div>
            <div class="font-light">Fest | Fraunhofer, Enschede</div>
          </div>
          <div class="font-light">Dec 2020 - Feb 2021</div>
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          maiores quibusdam architecto praesentium nemo exercitationem delectus
          error aperiam consequuntur odit quasi quis provident veniam excepturi
          ipsum, quia odio distinctio quo.
        </div>
      </div>
      <div class="border-b-2"></div>

      <div class="mb-8 mt-8">
        <div class="mb-4 flex text-xl items-start justify-between">
          <div>
            <div class="text-2xl">Teaching Assistant</div>
            <div class="font-light">University of Twente, Enschede</div>
          </div>
          <div class="font-light">Nov 2020 - Jan 2021</div>
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          maiores quibusdam architecto praesentium nemo exercitationem delectus
          error aperiam consequuntur odit quasi quis provident veniam excepturi
          ipsum, quia odio distinctio quo.
        </div>
      </div>
    </div>
  </div>
</div>
