---
import { Icon } from "astro-icon";
---

<div id="hero" class="h-[90vh] md:w-10/12 md:mx-auto mb-10">
  <div class="h-full flex flex-col justify-between">
    <div
      class="flex-[2] flex flex-col-reverse md:flex-row md:justify-between items-center"
    >
      <div class="text-center md:text-left md:mt-0 mt-8">
        <div class="text-4xl md:text-6xl mb-10 font-normal">
          I'm <span class="font-semibold text-secondaryLight"
            >Sri Harsh Amur</span
          >
        </div>
        <div class="text-xl px-2 md:px-0 md:text-3xl">
          Front-End Developer and a Student at the University of Twente
        </div>
      </div>
      <div class="w-2/5 md:w-[300px]">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQGw5uCelQa_TQ/profile-displayphoto-shrink_200_200/0/1613610772660?e=1668643200&v=beta&t=yU596w5yAH8r1FiFcWihp5x_se0zJEJROMmI9UBdNTo"
          alt="Profile Pciture"
          width="100%"
          class="rounded-[50%]"
        />
      </div>
    </div>

    <div
      class="flex-1 flex flex-col md:flex-row justify-center md:justify-between items-center"
    >
      <div class="flex items-start">
        <div class="mr-2">
          <a href="https://www.linkedin.com/in/sriharsh-amur/" target="_blank">
            <Icon name="ri:linkedin-box-fill" size={30} />
          </a>
        </div>
        <div class="mr-2">
          <a href="https://www.linkedin.com/in/sriharsh-amur/" target="_blank">
          </a><a href="https://github.com/sriharshAmur" target="_blank">
            <Icon name="ri:github-fill" size={30} />
          </a>
        </div>
      </div>
      <a href="mailto:sriharshamur@gmail.com" target="_blank">
        <div class="text-xl flex items-center mt-4 md:mt-0">
          <div class="mr-1">sriharshamur@gmail.com</div>
          <div>
            <Icon name="ri:mail-fill" size={25} />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
