---
import { Icon } from "astro-icon";
---

<div id="experience" class="md:my-20 md:w-10/12 md:mx-auto mb-10 px-2 md:px-0">
  <div class="h-full flex flex-col">
    <div
      class="text-4xl text-center md:text-left md:text-6xl font-bold mb-16 md:mb-24"
    >
      Projects
    </div>
    <div class="mb-8">
      <div class="mb-4">
        <div
          class="mb-0 text-xl flex flex-col md:flex-row items-start justify-between"
        >
          <div>
            <a href="" class="">
              <div class="flex items-center">
                <div class="text-2xl mr-1">Hireo (Undercontruction)</div>
                <Icon name="ic:baseline-open-in-new" size={17} />
              </div>
            </a>

            <div class="font-light">
              Next.js, Tailwind CSS, Prisma, Next Auth
            </div>
          </div>
          <div class="flex items-center mt-2">
            <a
              href="/projects/hireo"
              target="_blank"
              class="text-base text-red-400 hover:bg-red-400 hover:text-white border-2 p-2 mr-4"
            >
              Read More</a
            >
            <a href="/projects/hireo" class="">
              <Icon name="mdi:github" size={25} />
            </a>
          </div>
        </div>
      </div>

      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        maiores quibusdam architecto praesentium nemo exercitationem delectus
        error aperiam consequuntur odit quasi quis provident veniam excepturi
        ipsum, quia odio distinctio quo.
      </div>
    </div>
  </div>
  <div class="border-b-2"></div>
  <div class="mb-8 mt-8">
    <div class="mb-4 text-xl">
      <div
        class="mb-0 text-xl flex flex-col md:flex-row items-start justify-between"
      >
        <div>
          <a href="https://teams-sigma.vercel.app/" target="_blank" class="">
            <div class="flex items-center">
              <div class="text-2xl mr-1">Microsoft Teams Clone</div>
              <Icon name="ic:baseline-open-in-new" size={17} />
            </div>
          </a>

          <div class="font-light">React, Firebase, Tailwind CSS</div>
        </div>
        <div class="flex items-center mt-2">
          <a
            href="/projects/teams"
            target="_blank"
            class="text-base border-2 p-2 mr-4 text-red-400 hover:bg-red-400 hover:text-white"
          >
            Read More</a
          >
          <a
            href="https://github.com/sriharshAmur/teams"
            target="_blank"
            class=""
          >
            <Icon name="mdi:github" size={25} />
          </a>
        </div>
      </div>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      maiores quibusdam architecto praesentium nemo exercitationem delectus
      error aperiam consequuntur odit quasi quis provident veniam excepturi
      ipsum, quia odio distinctio quo.
    </div>
  </div>
  <div class="border-b-2"></div>

  <div class="mb-8 mt-8">
    <div class="mb-4 text-xl">
      <div
        class="mb-0 text-xl flex flex-col md:flex-row items-start justify-between"
      >
        <div>
          <a
            href="https://github.com/sriharshAmur/RoomSpot"
            target="_blank"
            class=""
          >
            <div class="flex items-center">
              <div class="text-2xl mr-1">Roomspot</div>
              <Icon name="ic:baseline-open-in-new" size={17} />
            </div>
          </a>

          <div class="font-light">Python, Selenium</div>
        </div>
        <div class="flex items-center mt-2">
          <a
            href="/projects/roomspot"
            target="_blank"
            class="text-base text-red-400 hover:bg-red-400 hover:text-white border-2 p-2 mr-4"
          >
            Read More</a
          >
          <a
            href="https://github.com/sriharshAmur/RoomSpot"
            target="_blank"
            class=""
          >
            <Icon name="mdi:github" size={25} />
          </a>
        </div>
      </div>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      maiores quibusdam architecto praesentium nemo exercitationem delectus
      error aperiam consequuntur odit quasi quis provident veniam excepturi
      ipsum, quia odio distinctio quo.
    </div>
  </div>
</div>
