---
import { Icon } from "astro-icon";
---

<div id="skills" class="md:my-20 md:w-10/12 md:mx-auto mb-10">
  <div class="h-full flex flex-col">
    <div
      class="text-4xl text-center md:text-left md:text-6xl font-bold mb-16 md:mb-24"
    >
      Skills
    </div>
    <div
      class="grid grid-rows-auto grid-cols-2 md:grid-cols-3 gap-x-5 items-center justify-between px-2 md:px-0"
    >
      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-reactjs" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">React</div>
      </div>

      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-light-next" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">Next JS</div>
      </div>

      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-node" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">Node</div>
      </div>

      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-html" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">HTML/CSS</div>
      </div>

      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-tailwind" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">Tailwind</div>
      </div>

      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-js-official" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">Javascipt</div>
      </div>

      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-go" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">Golang</div>
      </div>

      <div class="flex items-center">
        <div class="mr:2 text-black">
          <Icon name="vscode-icons:file-type-firebase" size="50" />
        </div>
        <div class="my-4 ml-1 text-2xl">Firebase</div>
      </div>
    </div>
  </div>
</div>
